<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		
		
		<title>ログイン</title>
	</head>
	<body>
		<div>						
			<!-- ヘッダー -->
			<div th:replace="~{fragment::header}"></div>
			
			<main>				
				<div>					
					<h2>ログイン</h2>	
					
					<div th:if="${param.error}">
						メールアドレスまたはパスワードが正しくありません
					</div>
															
					<form th:action="@{/login}" method="post">
						<div>
							<input type="text" name="username" placeholder="メールアドレス" autofocus>
						</div>
						
						<div>
							<input type="password" name="password" placeholder="パスワード">
						</div>
						
						<div>
							<button type="submit">ログイン</button>
						</div>
					</form>
				</div>
			</main>
					
			
		</div>			
	</body>
</html>