<!-- employee/attendance -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<!-- meta -->
		<div th:replace="~{fragment::meta}"></div>
		
		<!-- style -->
		<div th:replace="~{fragment::styles}"></div>
		
		<title>勤怠連絡</title>
	</head>
	<body>
		<div>
			<!-- ヘッダー -->
						
			<!-- main -->
			<main>
				<div>			
					<div>
						<h1>勤怠連絡</h1>
					</div>
					
					<form>
					
					</form>						
				</div>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment::footer}"></div>
		</div>		
	</body>
</html>