<!-- accountDetails -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<!-- meta -->
		<div th:replace="~{fragment::meta}"></div>
		
		<!-- style -->
		<div th:replace="~{fragment::styles}"></div>
		
		<title>アカウント情報編集</title>
	</head>
	<body>
		<div>
			<!-- ヘッダー -->
			<div th:replace="~fragment::header"></div>
			
			<!-- main -->
			<main>
				<div>
					<h1>アカウント情報編集</h1>
					
					<form th:action="@{#}" method="post" th:object="${userEditForm}">
						<input type="hidden" th:field="*{id}">
						
						<div>
							<div>
								<span>氏名</span>
								<span>必須</span>
							</div>
							<div>
								<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
								<input type="text" th:field="*{name}" autofocus placeholder="氏名">							
							</div>
						</div>
						
						<div>
							<div>
								<span>電話番号</span>
								<span>必須</span>
							</div>
							<div>
								<div th:if="${#fields.hasErroes('telephone')}" th:errors="*{telephone}"></div>
								<input type="text" th:field="*{telephone}" placeholder="電話番号">								
							</div>
						</div>
						
						<div>
							<div>
								<span>緊急連絡先</span>
								<span>必須</span>
							</div>
							<div>
								<div th:if="${#fields.hasErroes('emergencyContact')}" th:errors="*{emergencyContact}"></div>
								<input type="text" th:field="*{emergencyContact}" placeholder="緊急連絡先">								
							</div>
						</div>
						
						<div>
							<div>
								<span>メールアドレス</span>
								<span>必須</span>
							</div>
							<div>
								<div th:if="#fields.hasErrors('email')" th:errors="*{email}"></div>
								<input type="text" th:field="*{email}" placeholder="メールアドレス">								
							</div>
						</div>
						
						<div>
							<button type="submit">更新</button>
						</div>
					</form>											
				</div>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment::footer}"></div>
			
			<!-- script -->
			<div th:replace="~{fragment::scripts}"></div>
		</div>		
	</body>
</html>