<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		
		
		<title>ようこそ</title>
	</head>

	<body>
		<div>
			<!-- ヘッダー -->
			<div th:replace="~{fragment::header}"></div>
						
			<main>
				<div>
                	<div th:if="${param.loggedIn}">
                    	ログインしました
                    </div>  
                     
                    <div th:if="${param.loggedOut}">
                    	ログアウトしました
                    </div>
                </div>

				<div>
					<div>
						<h1>ようこそ！</h1>					
						<h2>どちらでのご利用ですか？</h2>
					</div>
					
					<div>
						<button type="button" href="#">
							企業管理者
						</button>
						<button href="#">
							従業員
						</button>
					</div>						
				</div>
			</main>
					
					
		</div>		
	</body>
</html>