<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<!-- meta -->
		<div th:replace="~{fragment::meta}"></div>
		
		<!-- style -->
		<div th:replace="~{fragment::styles}"></div>
		
		<title>アカウント情報</title>
	</head>
	<body>
		<div>
			<!-- ヘッダー -->
			<div th:replace="~{fragment::header}"></div>
			
			<!-- main -->
			<main>
				<p>企業のアカウント情報</p>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment::footer}"></div>
		</div>
	</body>
</html>