<!-- companyAdmin/employeeList -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<!-- meta -->
		<div th:replace="~{fragment::meta}"></div>
		
		<!-- style -->
		<div th:replace="~{fragment::styles}"></div>
		
		<title>従業員一覧</title>
	</head>
	<body>
		<div>
			<!-- ヘッダー -->
						
			<!-- main -->
			<main>
				<div>			
					<div>
						<h1>従業員一覧</h1>
					</div>
					
					<ol>
						<!-- 従業員一覧 -->
					</ol>					
				</div>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment::footer}"></div>
		</div>		
	</body>
</html>